<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
        crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="/stylesheets/homepage.css">
	    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <!-- <style>
        #header {
            /*background: url("imgs/header.jpeg");*/
             background: url("https://images.unsplash.com/photo-1519758437711-f9ae52e78a95?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&w=1000&q=80") center center / cover no-repeat; 
        }
    </style> -->

    <title>Destigma</title>
</head>

<body>
    <nav class="navbar bg-dark navbar-dark">
        <div class="container">
			
            <a href="/" class="navbar-brand"><i class="fas fa-home"></i> Home</a>
			<div class="nav navbar-nav navbar-right">
				<a href="">Sign Up</a>
				<a href="">Login</a>
				
				
			</div>
        </div>
    </nav>


 <div class="jumbotron header" >
    <div class="container text-center"> 
        <h1 class="display-3">DESTIGMA</h1>
        <p class="lead">A site to destigmatize talking about mental health </p>
        
          
    </div>
</div>

<section id="gallery">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="card cardimg mb-2" >
                  <img class="card-img-top d-flex justify-content-center" src="https://images.unsplash.com/photo-1530268729831-4b0b9e170218?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">James Charles</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                                Veniam, dolorum facere?
                                Commodi, ut. Et, itaque quam!</p>
                    <a href="/person1" class="btn btn-outline-success btn-sm">Read more</a>
                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                  </div>
                </div>


            </div>


             <div class="col-lg-4">
                <div class="card cardimg mb-2" >
                  <img class="card-img-top d-flex justify-content-center" src="https://images.unsplash.com/photo-1517841905240-472988babdf9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Sarah Connor</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                                Veniam, dolorum facere?
                                Commodi, ut. Et, itaque quam!</p>
                    <a href="/person2" class="btn btn-outline-success btn-sm">Read More</a>
                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                  </div>
                </div>


            </div>


             <div class="col-lg-4">
                <div class="card cardimg mb-2" >
                  <img class="card-img-top d-flex justify-content-center" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80" alt="Card image cap">
                  <div class="card-body">
                    <h5 class="card-title">Mary Shelley</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda corrupti quam magnam!
                                Veniam, dolorum facere?
                                Commodi, ut. Et, itaque quam!</p>
                    <a href="/person3" class="btn btn-outline-success btn-sm">Read More</a>
                    <a href="" class="btn btn-outline-danger btn-sm"><i class="far fa-heart"></i></a>
                  </div>
                </div>


            </div>
            


        </div>
        



    </div>




</section>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>

</html>
